*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    
    padding: 10px;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



ul {
    width: 100%;
}

a.menu {
    display: inline-block;
    width: 25%;
    padding: 15px 30px 15px 30px;
    color: black;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    

  
}
.menu img{
    margin-left: 2px    ;
}
header{
    display: inline-flexbox;
    text-align: center;
    line-height: 50px;
    color: sandybrown;
    text-transform: uppercase;
    text-underline-position: below;
    height: 140px;
    background-color: rgb(53, 133, 133);
    
    
}
header h2, h1{
    position: relative;
    display: inline-flexbox;
    box-sizing: border-box;
    width: 100%;

    
}
header h2>div{
    position: absolute;
    display: inline-flexbox;
    right: 0;
    bottom: -75px;
}

header img{
    width: 35%;

}


.gallery{
    position: flex;
    display: inline-block;
    

}
.gallery img{
    margin: 20px auto;
    display: inline-flex;
    width: 30vw;
    border: 10px solid black;
    
}
    
footer div{
    position: flex;
    width: 100vw;
    
height: 3vh;
background-color: rgb(108, 105, 109);
margin: 50px 0px 0px 0px;
text-align: center;
}
footer span{
    margin: 0px 5px;
}
.box{
    display: flexbox;
    position: flex;
    box-sizing: border-box;
    width: 50vw;
    padding: 5px;
    margin: 50px ;
   
}
.box h3{
    letter-spacing: 5px;
    margin: 20px 10px 20px;
    color: rgb(123, 184, 95);
}

.box li{
    display: inline-block;
    list-style: none;
    margin:  20px auto;
    
    
    }
 .box li div {
     display: flexbox;
     position: relative;
     box-sizing: border-box;
     height: 20vh;
     padding: .5vh; 
     
     
     
}
.logo img{
    display: inline-flexbox;
    box-sizing: border-box;
    height: 8vw;
    position: absolute;
    top: 0;
    transition: .6s;
    border-radius: 15px;
    border: 2px solid rgb(217, 225, 240);
    
}

.name {
    position: absolute;
    display: inherit;
    top: 16vh;
    text-align: center;
    letter-spacing: 2px;
    transition: .6s; 
}

.logo img:hover{
    transform: scale(.9);
}

 .logo div:hover {
    transform: scale(1.1);
    color: aquamarine; 
 }

.table{
    min-width: 300px;
    overflow: auto;
}

.video {
    display: block;
}

@media (max-width: 800px){
    header{
        font-size: 12px;
        line-height: 38px;
        height: 105px;
    }
    a.menu {
        width: 50%;
        font-size: 16px;
    }
}

@media (max-width: 500px){
    header{
        font-size: 8px;
        line-height: 26px;
        height: 70px;
    }
    a.menu {
        width: 100%;
        font-size: 15px;
    }
}

